.wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var( --default-layout-horizontal-spacer);

}
.content {
    flex: 1;
}